name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.14"
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv install --dev
    - name: Run Migrations
      run: |
        pipenv run python manage.py makemigrations
        pipenv run python manage.py migrate
    - name: Run Django Service
      run: |
        nohup pipenv run python manage.py runserver 0.0.0.0:8000 &

